<!DOCTYPE html>
<html>
    <body>
        <div>
            <form action="/producto" method="POST">
                
                <label for="marca">Marca</label>
                <input name="marca" id="marca" type="text"/>
                
                <label for="modelo">Modelo</label>
                <input name="modelo" id="modelo" type="text"/>

                <label for="precioCosto">Precio de Costo</label>
                <input name="precioCosto" id="precioCosto" type="number"/>

                <label for="porcentajeIncrementoPrecioCosto">Porcentaje de Ganancia</label>
                <input type="number" name="porcentajeIncrementoPrecioCosto" id="porcentajeIncrementoPrecioCosto"/>

                <input type="submit" value="Cargar Producto"/>
            </form>
        </div>
    </body>
</html>
